In [49]:
import pymongo


client = pymongo.MongoClient("mongodb+srv://mahendragharad035:mahendra123@cluster0.xdwsiqj.mongodb.net/?retryWrites=true&w=majority")
db = client.test



db = client['New_DB2']
# creating a database

col = db['Details']
col2 = db['Details2']

In [50]:
print(db)

Database(MongoClient(host=['ac-cp6hdmo-shard-00-02.xdwsiqj.mongodb.net:27017', 'ac-cp6hdmo-shard-00-00.xdwsiqj.mongodb.net:27017', 'ac-cp6hdmo-shard-00-01.xdwsiqj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-fzfsc8-shard-0', tls=True), 'New_DB2')

In [51]:
data1 = { 'cources  ' : ['full_stack_ds' , 'data anylytics ' , 'devops ' , 'blockchiain_devolopment ' , 'web devolopment'],
         'Mentors ' : [ 'mahendra' , 'mohit' , 'vikas' , 'akash'],
         'duration ' : '12 months ',
         'certification ' : 'yes',
         'resume_building' : 'yes',
         'mock_interview ' : 'yes',
         'cource_fee' : '14000',
         'mode' : 'live_online'

}

# col.insert_one(data1)

data2 = { 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'
}

# col.insert_one(data2)

data3 = [{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
         
} , { 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
          'salery' : '20000'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
          'salery' : '30000'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
          'salery' : '21000'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
         'salery' : '30000'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
          'salery' : '22000' 
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
          'salery' : '23000'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
          'salery' : '21000'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
          'salery' : '24000'
}]

# col.insert_many(data3)

data4 = [ { 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'
},{'cources  ' : ['full_stack_ds' , 'data anylytics ' , 'devops ' , 'blockchiain_devolopment ' , 'web devolopment'],
         'Mentors ' : [ 'mahendra' , 'mohit' , 'vikas' , 'akash'],
         'duration ' : '12 months ',
         'certification ' : 'yes',
         'resume_building' : 'yes',
         'mock_interview ' : 'yes',
         'cource_fee' : '14000',
         'mode' : 'live_online'},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist',
         
} , { 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'
},{ 'Name ' : 'Mahendra_gharad',
         'profession ' : 'student ',
         'learning_year' : '2nd year ',
         'Dream ' : 'To become data_scientist'}
]
# col.insert_many(data4)

In [52]:
col.insert_one(data1)

In [53]:
col.insert_one(data2)

In [54]:
col.insert_many(data3)

In [55]:
col.insert_many(data4)

In [56]:
record = col.find()
# col.find() It give us all the record which are present in the database

In [57]:
from pprint import pprint 
for i in record :
    pprint(i)
# To print the record we have to simply itrate over it
# pprint just print the data in pretty format

{'Mentors ': ['mahendra', 'mohit', 'vikas', 'akash'],
 '_id': ObjectId('6412bff06e3f6fd71625a681'),
 'certification ': 'yes',
 'cource_fee': '14000',
 'cources  ': ['full_stack_ds',
               'data anylytics ',
               'devops ',
               'blockchiain_devolopment ',
               'web devolopment'],
 'duration ': '12 months ',
 'mock_interview ': 'yes',
 'mode': 'live_online',
 'resume_building': 'yes'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff46e3f6fd71625a682'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a683'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a684'),
 'learning_year': '2nd year ',
 'profession ': 'student ',
 'salery': '20000'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a685'),
 'learning_year': '2nd year ',
 'profession ': 'student ',
 'salery': '30000'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a686'),
 'learning_year': '2nd year ',
 'profession ': 'student ',
 'salery': '21000'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a687'),
 'learning_year': '2nd year ',
 'profession ': 'student ',
 'salery': '30000'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a688'),
 'learning_year': '2nd year ',
 'profession ': 'student ',
 'salery': '22000'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a689'),
 'learning_year': '2nd year ',
 'profession ': 'student ',
 'salery': '23000'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a68a'),
 'learning_year': '2nd year ',
 'profession ': 'student ',
 'salery': '21000'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a68b'),
 'learning_year': '2nd year ',
 'profession ': 'student ',
 'salery': '24000'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a68c'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Mentors ': ['mahendra', 'mohit', 'vikas', 'akash'],
 '_id': ObjectId('6412bff56e3f6fd71625a68d'),
 'certification ': 'yes',
 'cource_fee': '14000',
 'cources  ': ['full_stack_ds',
               'data anylytics ',
               'devops ',
               'blockchiain_devolopment ',
               'web devolopment'],
 'duration ': '12 months ',
 'mock_interview ': 'yes',
 'mode': 'live_online',
 'resume_building': 'yes'}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a68e'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a68f'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a690'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a691'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a692'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a693'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a694'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a695'),
 'learning_year': '2nd year ',
 'profession ': 'student '}
{'Dream ': 'To become data_scientist',
 'Name ': 'Mahendra_gharad',
 '_id': ObjectId('6412bff56e3f6fd71625a696'),
 'learning_year': '2nd year ',
 'profession ': 'student '}

In [58]:
col.find_one()
# It simply return us the one record

{'_id': ObjectId('6412bff06e3f6fd71625a681'),
 'cources  ': ['full_stack_ds',
  'data anylytics ',
  'devops ',
  'blockchiain_devolopment ',
  'web devolopment'],
 'Mentors ': ['mahendra', 'mohit', 'vikas', 'akash'],
 'duration ': '12 months ',
 'certification ': 'yes',
 'resume_building': 'yes',
 'mock_interview ': 'yes',
 'cource_fee': '14000',
 'mode': 'live_online'}

In [59]:
col.find({} , {})
# syntax to find perticular record

In [60]:
c = col.find({'profession ': 'student '})
# To see all the record

In [22]:
for i in c :
    print(i)

{'_id': ObjectId('6412b8476e3f6fd71625a611'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a612'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a613'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a614'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a615'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a616'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a617'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a618'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a619'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a61a'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a61b'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a61d'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a61e'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a61f'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a620'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a621'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a622'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a623'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a624'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8476e3f6fd71625a625'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a628'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a629'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a62a'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a62b'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a62c'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a62d'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a62e'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a62f'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a630'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a631'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a632'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a634'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a635'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a636'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a637'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a638'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a639'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a63a'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a63b'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}
{'_id': ObjectId('6412b8c86e3f6fd71625a63c'), 'Name ': 'Mahendra_gharad', 'profession ': 'student ', 'learning_year': '2nd year ', 'Dream ': 'To become data_scientist'}

In [61]:
d = col.find({} , {'profession ': 'student '}) 
for i in d :
    print(i)
# To get the specific record which for we are looking

{'_id': ObjectId('6412bff06e3f6fd71625a681'), 'profession ': 'student '}
{'_id': ObjectId('6412bff46e3f6fd71625a682'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a683'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a684'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a685'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a686'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a687'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a688'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a689'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a68a'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a68b'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a68c'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a68d'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a68e'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a68f'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a690'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a691'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a692'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a693'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a694'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a695'), 'profession ': 'student '}
{'_id': ObjectId('6412bff56e3f6fd71625a696'), 'profession ': 'student '}

In [62]:
col.update_many({'profession ' : 'student '} , {'$set':{'profession ' : 'Employee'}})

In [63]:
col.find_one({'profession ' : 'Employee'})

{'_id': ObjectId('6412bff46e3f6fd71625a682'),
 'Name ': 'Mahendra_gharad',
 'profession ': 'Employee',
 'learning_year': '2nd year ',
 'Dream ': 'To become data_scientist'}

In [64]:
col.update_many({'Dream ' : 'To become data_scientist'} , {'$set':{'Dream ' : 'To become bussinessMAN'}})

In [65]:
col.find_one({'Dream ' : 'To become bussinessMAN'})

{'_id': ObjectId('6412bff46e3f6fd71625a682'),
 'Name ': 'Mahendra_gharad',
 'profession ': 'Employee',
 'learning_year': '2nd year ',
 'Dream ': 'To become bussinessMAN'}

In [66]:
col.delete_many({'cource_fee' : '14000'} , {})
# deleting the records

In [67]:
for i in col.find({'cource_fee ' : '14000'}):
    print(i)

In [71]:
for i in col.find({'salery' : {'$lte' : "25000"}}) :
    print(i)

# 'gte' = Greater than eqaul to 
#  'gt' = Greater than 
#  'lte' = Less than eqaul to 
#  'lt' = less than

{'_id': ObjectId('6412bff56e3f6fd71625a684'), 'Name ': 'Mahendra_gharad', 'profession ': 'Employee', 'learning_year': '2nd year ', 'Dream ': 'To become bussinessMAN', 'salery': '20000'}
{'_id': ObjectId('6412bff56e3f6fd71625a686'), 'Name ': 'Mahendra_gharad', 'profession ': 'Employee', 'learning_year': '2nd year ', 'Dream ': 'To become bussinessMAN', 'salery': '21000'}
{'_id': ObjectId('6412bff56e3f6fd71625a688'), 'Name ': 'Mahendra_gharad', 'profession ': 'Employee', 'learning_year': '2nd year ', 'Dream ': 'To become bussinessMAN', 'salery': '22000'}
{'_id': ObjectId('6412bff56e3f6fd71625a689'), 'Name ': 'Mahendra_gharad', 'profession ': 'Employee', 'learning_year': '2nd year ', 'Dream ': 'To become bussinessMAN', 'salery': '23000'}
{'_id': ObjectId('6412bff56e3f6fd71625a68a'), 'Name ': 'Mahendra_gharad', 'profession ': 'Employee', 'learning_year': '2nd year ', 'Dream ': 'To become bussinessMAN', 'salery': '21000'}
{'_id': ObjectId('6412bff56e3f6fd71625a68b'), 'Name ': 'Mahendra_gharad', 'profession ': 'Employee', 'learning_year': '2nd year ', 'Dream ': 'To become bussinessMAN', 'salery': '24000'}

In [92]:
class mongodb :
    
    def __init__(self, userid , password ):
        self.userid = userid 
        self.password = password
    
    def connect(self , userid , password ) :
        print("This function is used to connect the mongodb") 
        client = pymongo.MongoClient("mongodb+srv://" + userid + ":" + password + "@cluster0.xdwsiqj.mongodb.net/?retryWrites=true&w=majority")
        return client
        
    def add_data(self , connection , data ):
        print("This function is used to insert data also it is used to create new db")
        db = connection["New_database"]
        coll = db['Details22']
        coll.insert_one(data)
        
    def create_col(self) :
        print("This function is used to create database inside mongo")

In [93]:
obj1 = mongodb("mahendragharad035","mahendra123")

In [96]:
obj1.userid

'mahendragharad035'

In [97]:
obj1.password

'mahendra123'

In [95]:
conn = obj1.connect("mahendragharad035","mahendra123")

This function is used to connect the mongodb

In [88]:
obj1.add_data(conn , {'name ' : 'mahendra ' , 'profession ' : 'student' , 'Dream' : 'To become datascientist'})

This function is used to insert data also it is used to create new db

In [114]:
class mongo :
    
    def __init__(self, user1 , passw2 ):
        self.user = user1
        self.passw = passw2

In [115]:
obj2 = mongo("mahendragharad","mahendra")

In [118]:
obj2.user1

AttributeError: 'mongo' object has no attribute 'user1'

In [120]:
obj2.passw2

AttributeError: 'mongo' object has no attribute 'passw2'

In [121]:
obj2.passw

'mahendra'

In [122]:
obj2.user

'mahendragharad'

In [ ]:
Note : class only uderstand only the varialble which is 
associated with self (for exapample (self.name = name2 , self.surname = surname2 ))
then it only understand the name and surname which are associated with the self.

In [156]:
# Let's make it little bit easy :

import pymongo 
class mongodb2 :
    
    def __init__(self, userid1 , password2 , data  ):
        self.userid1 = userid1 
        self.password2 = password2
        self.data = data 
    
    def connect1(self) :
        print("This function is used to connect the mongodb") 
        client = pymongo.MongoClient("mongodb+srv://" + self.userid1 + ":" + self.password2 + "@cluster0.xdwsiqj.mongodb.net/?retryWrites=true&w=majority")
        return client
        
    def add_data2(self , data ):
        connn = self.connect1()
        print("This function is used to insert data also it is used to create new db")
        db = conn["New_database"]
        coll = db['Details22']
        coll.insert_one(self.data)
        
    def create_col3(self) :
        print("This function is used to create database inside mongo")

In [158]:
obj3 = mongodb2("mahendragharad035","mahendra123",{'name ' : 'rohit' , 'grade' : 'A' , 'profeession ': 'bekari'})

In [159]:
connn = obj3.connect1()

This function is used to connect the mongodb

In [160]:
obj3.add_data2({'name ' : 'rohit' , 'grade' : 'A' , 'profeession ': 'bekari'})

This function is used to connect the mongodb
This function is used to insert data also it is used to create new db